
<div class="container mt-4">
    <div class="row">
        <br>
    </div>
    <div class="row">
        <div class="col-md-43">
            <app-header></app-header>
        </div>
        <div class="col-md-8">
            <app-navigation></app-navigation>
        </div>
        
    </div>
    <hr>



    <div class="row">
        <!-- Prvi stolpec -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    
                    <app-music-types></app-music-types>
                    <app-composers-list></app-composers-list>
                    <app-db-statistics></app-db-statistics>
                    <app-notebox [imgUrl]="imgUrl" [musicScore]="title" (isSelected)="logImage($event)">
                        <p>Content projection</p>
    
                    </app-notebox>
                    <p>{{ currentDate | date: 'MMMM d, YYYY'}} </p>
                </div>
            </div>
        </div>

        <!-- Drugi stolpec -->
        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
