
<div class="page-navigation collaps navbar-collaps">
    <ul class="nav navbar-nav mynavigation">
        <li>
            <button (click)="navigateSeznam()" type="button" class="btn btn-outline-light">Seznam</button>
        </li>
        <li><button (click)="navigateDodaj()" type="button" class="btn btn-outline-light">Dodaj skladbo</button>
            </li>
        <li><button (click)="navigateLogIn()" type="button" class="btn btn-outline-light">Login</button>
            </li>
        <li><button (click)="navigateLogOut()" type="button" class="btn btn-outline-light">Log out</button>
            </li>
    </ul>
</div>